<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>img_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,44},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>img_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,2},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>img_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,86},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>img_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,44},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>img_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,2},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>img_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,86},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>img_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,44},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>img_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,2},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>img_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,86},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>img_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,44},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>img_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,2},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>img_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,86},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>img_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,44},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>img_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,2},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>img_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,86},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>img_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,44},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>img_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,2},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>img_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,86},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>img_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,44},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>img_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>atlas_1.png</string>
		<key>size</key>
		<string>{512,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:040cf87de0c6042fb6c0147d0675fe80$</string>
		<key>textureFileName</key>
		<string>atlas_1.png</string>
	</dict>
</dict>
</plist>
